<article class = "about">
 <h1>About</h1>
 
 <p id = "ind"><span class = "rf">I</span> make websites using Ruby on Rails.   After I finished my college, 
 I had a great passion towards Coding.I learnt a Simple and Powerful Programming language Ruby and some web 
 developing languages. I had a great fun while learning it :) This is my first website, and I feel awsome that
 my website comes online. Also I am fasinated in creating more websites. Hope I will see you again with some
 updates and new websites :)</p>

</article>